/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/main.scss ***!
  \***************************************************************************************************************/
body {
  margin: 0;
  padding: 0;
}

.page-header {
  text-align: center;
}

.image-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.all-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.all-links a {
  padding: 10px;
  margin: 10px;
  background-color: #ddd;
  border-color: #00f;
  border-radius: 10px;
  min-width: 100px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.all-links a:hover {
  font-style: italic;
}

.back-button {
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #333;
}
/*!****************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/MainComponent.scss ***!
  \****************************************************************************************************************************/
.main-component-box {
  padding: 10px;
  margin: 30px;
  text-align: center;
  border-radius: 50px;
  background-color: green;
}
